@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 224 71% 4%; /* Deep Blue */
    
    --card: 0 0% 100% / 0.8;
    --card-foreground: 224 71% 4%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    
    --primary: 217 91% 60%; /* Bright Blue */
    --primary-foreground: 210 40% 98%;
    
    --secondary: 210 40% 96.1%; /* Light Gray */
    --secondary-foreground: 224 71% 4%;
    
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20% 65%;
    
    --accent: 210 40% 96.1%;
    --accent-foreground: 224 71% 4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217 91% 60%;
    
    --radius: 0.8rem;
    
    --chart-1: 217 91% 60%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71% 4%; /* Deep Blue */
    --foreground: 210 40% 98%; /* Almost White */
    
    --card: 220 40% 15% / 0.6;
    --card-foreground: 210 40% 98%;
    
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 217 91% 60%; /* Bright Blue */
    --primary-foreground: 210 40% 98%;
    
    --secondary: 215 28% 17%; /* Darker Blue-Gray */
    --secondary-foreground: 210 40% 98%;
    
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    
    --accent: 215 28% 17%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 215 28% 20%;
    --input: 215 28% 17%;
    --ring: 217 91% 60%;
    
    --radius: 0.8rem;
    
    --chart-1: 217 91% 60%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(to right, black, #051937);
  }
}
