@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 96%;
    --foreground: 215 25% 27%;
    --card: 210 20% 96%;
    --card-foreground: 215 25% 27%;
    --popover: 210 20% 96%;
    --popover-foreground: 215 25% 27%;
    --primary: 259 98% 74%;
    --primary-foreground: 0 0% 100%;
    --secondary: 211 98% 73%;
    --secondary-foreground: 215 25% 27%;
    --muted: 216 28% 90%;
    --muted-foreground: 215 15% 50%;
    --accent: 259 98% 84%;
    --accent-foreground: 215 25% 27%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 28% 86%;
    --input: 216 28% 86%;
    --ring: 259 98% 74%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
